.design {
	padding: 80px 0;
	background: #F5F5F5;

	img {
		box-shadow: 0 4px 10px rgba(0,0,0,0.3);

		@media(max-width: 990px) {
			margin-bottom: 60px;
		}
	}

	h2 {
		margin: 0 auto 30px!important;
	}

	p {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
	}

	p, li {
		font-size: 18px;
	}

	.disclaimer p {
		font-size: 13px;
		font-style: italic;
		max-width: 900px;
		margin-top: 60px;
		color: #B1B1B1;
	}

	.row {
		margin-top: 60px;

		@media(min-width: 991px) {
			display: flex;
			justify-content: center;
		}
	}

	.col-md-6 .row {
		margin-top: 0;
	}
}