.intro {
	padding: 80px 0;
	text-align: center;
	background: #333;

	p {
		font-size: 18px;
		color: #FFF;
		max-width: 800px;
		margin: 0 auto 60px;
	}

	.features {

		.image {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100px;
			margin-bottom: 12px;
		}

		.col-sm-3 {
			@media(max-width: 767px) {
				margin-bottom: 30px;
			}
		}

		img {
			max-width: 100%;
			width: 100px;
			max-height: 75px;
		}

		span {
			color: $green;
			display: block;
			text-transform: uppercase;
		}
	}
}