.pricing {
	padding: 80px 0 84px;

	* {
	  margin:0px;
	  padding:0px;
	  display:border-box;
	}

	.container {
		margin: 0 auto;
		padding: 0 15px;
	}

	ul {
	  display:flex;
	  flex-wrap: wrap;
	}

	ul li {
	  flex:1;
	  list-style: none;
	  border-left:1px solid $border-color;
	  text-align: center;
	  transition: transform 0.3s ease;

	  @media(max-width: 990px) {
	  	flex: 0 0 100%;
	  	margin-bottom: 60px;
	  	border-right: 1px solid $border-color;
	  }

	  &.last {
	  	border-right:1px solid $border-color;
	  }

	  &:hover {
	  	transform: scale(1.0095);

	  	.top {
	  		background-color: darken(#EAE9E4, 5%);
	  	}
	  }
	}

	.wrap {
	  color:$gray;
	}

	.table {
	  background-color: white;
	}

	.top {
	  background-color:#EAE9E4;
	  height:86px;
	  margin-bottom: 70px;
	  transition: background 0.3s ease;

	  h3 {
	    padding-top:20px;
	  }

	  span {
	  	font-size: 12px;
	  	display: block;
	  	margin-top: 6px;
	  	font-weight: normal;
	  	font-style: italic;
	  }
	}

	.circle {
	  width:60px;
	  height:60px;
	  border-radius:60px;
	  font-size:20px;
	  line-height:60px;
	  text-align:center;
	  margin:10px auto 0 auto;
	  color:white;
	  background:$gray;
	}

	.bottom {
	  margin-top:50px;
	  
	  p {
	    font-size:13px;
	    padding:5px;
	    span {
	      font-weight:bold;
	    }
	  }
	}

	.sign {
	  margin-top:50px;
	  .button {
	    border:1px solid $gray;
	    padding:10px 40px;
	    border-radius:6px;
	    color:$gray;
	    font-size:14px;
	    text-decoration:none;
	    font-size:17px;
	  }
	}

	.selected {
	  color:white !important;
	  background-color:$green !important;
	  border: none!important;

	  span {
	  	color: #333;
	  }
	}

	.circle-selected {
	  background-color:#524948;
	}

	.company-discount {
		text-align: center;
		margin-top: 60px;

		h4 {
			margin-bottom: 30px;
		}

		p {
			max-width: 660px;
			margin: 0 auto 30px;
		}

		.btn {
			display: inline-block;
			background: $green;
			padding: 6px 42px;
			color: #FFF;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
		}
	}
}